semanticSetup.py

cod_semantics.txt
materialSetup_AR_Temp.py
usd2rs.py
Archive/materialSetupVerUSD.py
Archive/materialSetupv2.py
materialSetupVerUSD.py
Archive/materialSetup.py
/Archive*
NGOTest.py
SetupMaterialTreyarch.py
MDTest.py
GPTDecode.py
TransCheck.py
skinSetup.py
.gitignore
SetupIK.py
